@import "semantic-ui";

    .chatbox{
    height: 450px;
    }

    .rounded-icon {
        border-radius: 20%; /* Makes the icon rounded */

    }

    /* Add this CSS to your stylesheet */

.text-align-center {
    text-align: center; /* Center-align the text */
  }
  