<% flash.each do |flash_type, flash_message| %>
    <div class="ui <%= flash_type %> message">
    <i class="close icon", onclick="this.parentElement.style.display='none';"></i>
        <div class="header">
            <%= flash_message %>
        </div>
    </div>
<% end %>